<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Phân loại sản phẩm:</h2>
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/business/category']">Xem phân loại</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số sản phẩm:</h2>
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/business/product']">Xem sản phẩm</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số hóa đơn:</h2>
                    <h1 class="title">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/business/category']">Xem hóa đơn</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số người dùng:</h2>
                    <h1 class="title">{{data?.user}}</h1>
                    <!-- <p><button class="button" [routerLink]="['/business/user']">View User</button></p> -->
                </div>
            </div>
        </div>
    </div>
</body>